
.ultimate-barrage {
  min-height : 300px;
  overflow   : hidden;
  position   : relative;
}

.ultimate-barrage img {
  -webkit-user-drag : none;
}

@keyframes run {
  from {
    left : 100%;
  }

  to {
    left : -100%;
  }
}

.barrage-item {
  display       : inline-block;
  border-radius : 5px;
  width         : 100%;
  
  position      : absolute;
  left          : 100%;
  animation     : run 8s linear infinite forwards;
  will-change   : left;

  color         : #f18808;
  font-weight   : 800;
}

.barrage-item:hover {
  animation-play-state : paused;
}
